<div class="flex flex-col gap-8 c">
    <h1 class="text-4xl font-bold">Users</h1>
    <div>
        <a routerLink="add-user"> <button class="btn-add">Add new user</button></a>
    </div>
    <table style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th style="width: 20%">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td class="flex gap-4 justify-center">
                    <a [routerLink]="'edit-user/' + user.id ">

                        <button class="btn-edit">Edit</button>
                    </a>
                    <button (click)="deleteUser(user.id)" class="btn-delete">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>